Interfaz/.vs/slnx.sqlite
Interfaz/.vs/VSWorkspaceState.json
Interfaz/.vs/Interfaz/FileContentIndex/0e601e76-657d-45a5-9a24-f1b6c46cdb12.vsidx
Interfaz/.vs/Interfaz/FileContentIndex/2ef3393b-79f4-4b19-92cb-5ddee23e8c78.vsidx
Interfaz/.vs/Interfaz/FileContentIndex/d2b8e495-c012-4512-8bb2-8d91aaaf0832.vsidx
Interfaz/.vs/Interfaz/FileContentIndex/f60199e2-1a38-4fd5-8323-a5ed6544bc28.vsidx
Interfaz/.vs/Interfaz/FileContentIndex/read.lock
Interfaz/.vs/Interfaz/v17/.wsuo
Interfaz/.vs/ProyectoInterfaz/FileContentIndex/88d83776-7937-4cf1-9e29-75d6005da2b6.vsidx
Interfaz/.vs/ProyectoInterfaz/FileContentIndex/88d95375-2b6e-4d07-894b-cce6417b339d.vsidx
Interfaz/.vs/ProyectoInterfaz/FileContentIndex/17457fd0-aa3e-4708-a1a9-6d2296722b17.vsidx
Interfaz/.vs/ProyectoInterfaz/FileContentIndex/d7ffe397-73df-45c6-911e-d17958badf6d.vsidx
Interfaz/.vs/ProyectoInterfaz/FileContentIndex/read.lock
Interfaz/.vs/ProyectoInterfaz/v17/.suo
Algoritmo/.vscode/launch.json
Algoritmo/.vscode/tasks.json
Algoritmo/ConsoleApp/bin/Debug/net7.0/ConsoleApp.deps.json
Algoritmo/ConsoleApp/bin/Debug/net7.0/ConsoleApp.dll
Algoritmo/ConsoleApp/bin/Debug/net7.0/ConsoleApp.exe
Algoritmo/ConsoleApp/bin/Debug/net7.0/ConsoleApp.pdb
Algoritmo/ConsoleApp/bin/Debug/net7.0/ConsoleApp.runtimeconfig.json
